# !!!! does not flash yet.
# initrd + resize is not build :-(
# however, stm32m1-unintegrated with distro = openstlinux-weston works
#
YOCTO_VERSION ?= "kirkstone"

MACHINE ??= "qemux86"
# It is important to use the ?= operator to be free changing the machine at command line
# STM32MP157F-DK1 or STM32MP157F-DK2
MACHINE ?= "stm32mp15-disco"

DISTRO ??= "nodistro"
# DISTRO ?= "openstlinux-weston"
# It is important to use the ?= operator to be free changing the distro at command line
DISTRO ?= "ams-bsp"

PACKAGE_CLASSES ?= "package_ipk"

# taken over
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"

USER_CLASSES ?= "buildstats"

# By default disable interactive patch resolution (tasks will just fail instead):
PATCHRESOLVE = "noop"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"

# overwrite in site.conf
DL_DIR ?= "${TOPDIR}/download-cache/"
SSTATE_DIR ?= "${TOPDIR}/sstate-cache/${DISTRO}"

# Write additional build variables at startup
BUILDCFG_VARS += " DL_DIR SSTATE_DIR "

# =========================================================================
#   ST SPecific
# =========================================================================
#
GLIBC_GENERATE_LOCALES = "en_GB.UTF-8 en_US.UTF-8"
IMAGE_LINGUAS ?= "en-gb"

# Additional image generation features
#
# The following is a list of classes to import to use in the generation of images
# currently an example class is image_types_uboot
# IMAGE_CLASSES = " image_types_uboot"

# Support of devshell
INHERIT += "devshell"

# Remove the old image before the new one generated to save disk space
RM_OLD_IMAGE = "1"

# Nice debug data
INHERIT += "buildhistory"
BUILDHISTORY_COMMIT = "1"

# Clean up working directory after build
INHERIT += "rm_work"

# To enable archiver for recipes that are configured
#ST_ARCHIVER_ENABLE = "1"

# Setup environment for builds binary reproducibility
# REPRODUCIBLE_TIMESTAMP_ROOTFS = ""
# INHERIT += "reproducible_build"

# Setup eSDK
SDK_EXT_TYPE="minimal"
SDK_INCLUDE_TOOLCHAIN="1"

# Enable PR server to avoid version-going-backward issue
PRSERV_HOST = "localhost:0"
#------------------------------------------------------------------------------
# Take over from openstlinux distro
#------------------------------------------------------------------------------
# add support of InitRD installation package
DISTRO_FEATURES:append = " initrd "
# add support of autoresize through InitRD
DISTRO_FEATURES:append = " autoresize "
# INITRD addons to image
DISTRO_EXTRA_RRECOMMENDS:append = " ${@bb.utils.contains('COMBINED_FEATURES', 'initrd', '${INITRD_PACKAGE}', '', d)} "
# Configure InitRD image installation package
INITRD_PACKAGE = "st-initrd"
# Init default InitRD image to ST resize image

# =========================================================================
# Set EULA acceptance
# =========================================================================
ACCEPT_EULA_stm32mp15-disco = "1"
