# LCONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
# LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BSPDIR := "${@os.path.abspath(os.path.dirname(d.getVar('FILE', True)) + '/../..')}"

BBFILES ?= ""
BBLAYERS = " \
  ${BSPDIR}/sources/poky/meta \
  ${BSPDIR}/sources/poky/meta-yocto-bsp \
  \
  ${BSPDIR}/sources/meta-openembedded/meta-filesystems \
  ${BSPDIR}/sources/meta-openembedded/meta-multimedia \
  ${BSPDIR}/sources/meta-openembedded/meta-networking \
  ${BSPDIR}/sources/meta-openembedded/meta-oe \
  ${BSPDIR}/sources/meta-openembedded/meta-python \
  ${BSPDIR}/sources/meta-openembedded/meta-webserver \
  \
  ${BSPDIR}/sources/meta-influx \
  \
  ${BSPDIR}/sources/meta-raspberrypi \
  \
  ${BSPDIR}/sources/ams/meta-ams \
  ${BSPDIR}/sources/ams/meta-ams-bsp-rpi \
"

# core layer same as openembedded-core/meta
EXCLUDED_LAYERS = " \
  ${BSPDIR}/sources/poky/meta-poky \
  \
  ${BSPDIR}/sources/meta-qt6 \
  ${BSPDIR}/sources/meta-jupyter \
  ${BSPDIR}/sources/meta-scipy \
  \
  ${BSPDIR}/sources/ams/meta-ams-bsp \
  \
  ${BSPDIR}/sources/meta-imx/meta-bsp \
  ${BSPDIR}/sources/meta-imx/meta-sdk \
  ${BSPDIR}/sources/meta-imx/meta-ml \
  ${BSPDIR}/sources/meta-freescale \
  ${BSPDIR}/sources/meta-rauc \
  ${BSPDIR}/sources/meta-phytec \
  \
  ${BSPDIR}/sources/meta-rust \
"


