 [Unit]
 Description=Setup SocketCAN interface can0 with a baudrate of 500000
 After=multi-user.target
 [Service]
 Type=oneshot
 RemainAfterExit=yes
 ExecStartPre=/sbin/ip link set can0 type can bitrate 500000
 ExecStart=/sbin/ip link set can0 up
 ExecStop=/sbin/ip link set can0 down
 [Install]
 WantedBy=multi-user.target