[Unit]
Description=Emba service (Gunicorn)
After=network.target

[Service]
Type=forking
User=root
Group=root
RuntimeDirectory=gunicorn-emba
PIDFile=%t/gunicorn-emba/gunicorn-emba.pid
Environment="EMBA_ENV=prod"
ExecStart=/usr/bin/gunicorn --pid %t/gunicorn-emba/gunicorn-emba.pid --config /etc/gunicorn-emba.conf --daemon emba.wsgi:application
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
