# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""
OEROOT := "${@os.path.abspath(os.path.dirname(d.getVar('FILE')) + '/../..')}"

#--------------------------
# Layers var definition for buildsystem
#
OPENEMBEDDED = "${OEROOT}/sources/openembedded-core/meta"

POKY  = "${OEROOT}/sources/poky/meta"
POKY += "${OEROOT}/sources/poky/meta-yocto-bsp"

#--------------------------

BBLAYERS += " \
    ${OEROOT}/sources/meta-openembedded/meta-gnome \
    ${OEROOT}/sources/meta-openembedded/meta-initramfs \
    ${OEROOT}/sources/meta-openembedded/meta-multimedia \
    ${OEROOT}/sources/meta-openembedded/meta-networking \
    ${OEROOT}/sources/meta-openembedded/meta-webserver \
    ${OEROOT}/sources/meta-openembedded/meta-filesystems \
    ${OEROOT}/sources/meta-openembedded/meta-perl \
    ${OEROOT}/sources/meta-openembedded/meta-python \
    ${OEROOT}/sources/meta-openembedded/meta-oe \
    \
    ${OEROOT}/sources/meta-st/meta-st-stm32mp \
    \
    ${@'${OEROOT}/sources/meta-security \
    ${OEROOT}/sources/meta-security/meta-tpm' \
    if os.path.isfile('${OEROOT}/sources/meta-security/conf/layer.conf') else ''} \
    \
    ${@'${OPENEMBEDDED}' if os.path.isfile('${OEROOT}/sources/openembedded-core/meta/conf/layer.conf') else '${POKY}'} \
    \
    ${OEROOT}/sources/ams/meta-ams-bsp \
    "

#--------------------------
ADDONSLAYERS = " \
    ${@'${OEROOT}/sources/meta-st/meta-st-openstlinux' if os.path.isfile('${OEROOT}/sources/meta-st/meta-st-openstlinux/conf/layer.conf') else ''} \
    "

# linaro
ADDONSLAYERS += "${@'${OEROOT}/sources/meta-linaro/meta-linaro' if os.path.isfile('${OEROOT}/sources/meta-linaro/meta-linaro/conf/layer.conf') else ''}"
ADDONSLAYERS += "${@'${OEROOT}/sources/meta-linaro/meta-linaro-toolchain' if os.path.isfile('${OEROOT}/sources/meta-linaro/meta-linaro-toolchain/conf/layer.conf') else ''}"
ADDONSLAYERS += "${@'${OEROOT}/sources/meta-openembedded/meta-networking' if os.path.isfile('${OEROOT}/sources/meta-linaro/meta-linaro/conf/layer.conf') else ''}"
# Qt5
ADDONSLAYERS += "${@'${OEROOT}/sources/meta-qt5' if os.path.isfile('${OEROOT}/sources/meta-qt5/conf/layer.conf') else ''}"
# Security layer
ADDONSLAYERS += " \
    "
